body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/bg_content_blog.png") repeat;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
  
  color: #ffffff;
  
  background-color: #000000;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
  transition:0.5s;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img{
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
  transition:0.5s;
}

.main-navigation .active {
  position: relative;

  background-color: none;
}

.main-navigation .active a:hover {
  background: none;
  transition:0.5s;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
  transition:0.5s;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
  transition:0.5s;
}









.catalog h1 {
  font-size:30px;
  line-height:auto;
}

.breadcrumbs li {
    color:#aba9a7;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 30px;
    font-size: 14px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top:8px;
  right: 10px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform:rotate(45deg);
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs a {
  list-style: none;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs {
    margin:0;
    padding: 0;
}

.filter {
  float: left;
  width: 221px;
}

.filter li {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: auto;
  list-style: none;
}

.filter ul {
  margin:0px;
  padding: 0px;
}

.filter a {
  background-color: #000000;
  width: 112px;
  height: 43px;
  margin-top: 35px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  box-sizing:border-box;
}

.filter a:hover {
  background-color: #663d15;
  transition:0.5s;
}

.filter a:active {
  background-color: #663d15;
  transition:0.5s;
}


.filter span {
  font-size:24px;
  line-height:auto;
}
.filter label:hover {
  color: #663d15;
  cursor: pointer;
  transition:0.5s;
}

.radio input[type="radio"] {
  display: none;
}

.radio {
  position:relative;
  cursor: pointer;
  padding-left: 30px;
}

.radio input[type="radio"] + .checkbox-indicator  {
  position: absolute;
  top:-3px;
  left:0;
  width: 17px;
  height: 17px;
  border:2px solid #000000;
  border-radius: 50%;
}

.radio input[type="radio"]:checked + .checkbox-indicator::before,
.radio input[type="radio"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top:4px;
  left:4px;
  width: 5px;
  height: 5px;
  border:2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox {
  position:relative;
  cursor: pointer;
  padding-left: 30px;
}

.checkbox input[type="checkbox"] + .checkbox-indicator  {
  position: absolute;
  top:-3px;
  left:0;
  width: 17px;
  height: 17px;
  border:2px solid #000000;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top:8px;
  left:1px;
  width: 15px;
  height:2px;
  background-color: #000000;
}

.checkbox-indicator::before {
  transform: rotate(45deg);
}

.checkbox-indicator::after {
  transform: rotate(-45deg);
}

.products {
  display: inline-block;
  vertical-align: top;
  width: 700px;
  margin-left: 15px;
}

article {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 288px;
  background-color: #ffffff; 
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.name a {
  color: #000000;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  padding: 0;
}

.name h2 {
  text-transform: none;
  font-size:14px;
  line-height:18px;
}

.name span {
  font-size:14px;
  line-height:18px;
}


article:nth-child (3n) {
   margin-right: 0px;
}

.price {
    float: left;
    width: 104px;
    height: 43px;
    text-align: center;
    padding: 10px;
    background-color: #e5e5e5;
    color: #000000;
    margin-left: 18px;
    margin-top: 15px;
    box-sizing:border-box;
}


.button-buy {
  display: block;
  width: 80px;
  height: 43px;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  margin-right: 17px;
  box-sizing:border-box;
}

.button-buy:hover {
  background-color: #663d15;
  transition:0.5s;
}

.btn .price{
  margin-left: 0px;
  margin-bottom: 60px;
}

.page {
     margin-left: -40px;
     margin-top: 25px;
     margin-bottom: 50px;
}

.page li {
  list-style: none;
  display: inline-block;
}

.page a {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #000000;
  margin-right: 7px;
  box-sizing:border-box;
}

.page a:hover {
    background-color: #663d15;
    transition:0.5s;
}

.page a:active {
    background-color: #663d15;
    transition:0.5s;
}

.page .active a{
  color:#000000;
  background-color: #ffffff;
  transition:0.5s;
}












.catalog h1 {
  font-size:30px;
  line-height:auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.gallery-content {
  width: 460px;
  float: left; 
  margin-right: 80px;
}

.big-img {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.small-img img{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
  margin-right: 17px;
}

.small-img img:last-child{
  margin-right: 0px;
}

.content {
  width: 400px;
  float: right;
  font-size:14px;
  line-height:24px;
}

.content .code {
  margin-left: 95px;
  color: #b3b2b2;
}
.content p {
  margin-top: 40px;
  margin-bottom: 45px;
}

.content a:hover {
  background-color: #663d15;
  transition:0.5s;
}
 .content h2 {
  clear: both;
  margin-bottom: 36px;
  font-size:24px;
 }

 .custom-list {
  list-style: none;
  padding: 0px;
 }

  .custom-list li {
    position: relative; 
    padding-left: 20px;
  }

  .custom-list li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
  }













.main-footer {
  clear:both;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;

  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
  transition:0.5s;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright a {
  display: block;
  color:#ffffff;
  text-decoration: none;
  width: 160px;
  height: 44px;
  background-color: #000000;
  padding: 15px 10px;
  box-sizing:border-box;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000000 url("img/sprite.png") no-repeat center;
}

.social-btn-vk {
  background-image: url("../img/vk.png");
}

.social-btn-fb {
  background-image: url("../img/fb.png");
}

.social-btn-inst {
  background-image: url("../img/inst.png");
}

.social-btn-vk:hover {
background-image: url("../img/vk_wh.png");
transition:0.5s;
}

.social-btn-fb:hover {
background-image: url("../img/fb_wh.png");
transition:0.5s;
}

.social-btn-inst:hover {
background-image: url("../img/inst_wh.png");
transition:0.5s;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright a {
  text-align: center;
  padding: 10px;
  box-sizing:border-box;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  transition:0.5s;
  background-color: #ffffff;
}